body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background: #5188c7;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    text-align: center;
    color: #333;
}

h1 {
    color: #333;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: 600;
}

.input-group {
    margin-bottom: 25px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 1.1em;
    color: #161616;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 8px;
}

.radio-group label {
    font-size: 1.2em;
    color: #161616;
}

.input-group button {
    background: linear-gradient(135deg, #007BFF, #0056b3);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.1em;
    width: 100%;
    font-weight: 500;
}

.input-group button:hover {
    background: linear-gradient(135deg, #0056b3, #004494);
    transform: scale(1.03);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
}

.task {
    background: #f9f9f9;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.task:hover {
    background: #f0f0f0;
}

.task button {
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px 12px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 0.9em;
}

.task button:hover {
    background: #c82333;
    transform: scale(1.03);
}
